{% extends 'base.html.twig' %}

{% block body %}
    <!-- contenu principal de la page -->
    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">

            <!-- titre de la page -->
            <h2 class="section-title">Ma liste de souhaits</h2>

            <!-- variables pour l'affichage en ligne des cartes -->
            {% set a = 5 %}
            {% set i = 1 %}
            {% set c = 6 %}

            {% for liste in listeDeSouhaits %}

                <!-- une nouvelle "row" se forme en première instance et toutes les 5 cartes -->
                {% if i == c or i == 1 %}
                    <div class="row">
                    <div class="product-padding-top">
                    {% set c = a + 1 %}
                {% endif %}

                {% if liste.carte is not empty %}

                    {% for carte in liste.carte %}

                        <!-- carte affichée -->
                        <div class="col-1-5 {% if i == a or i == liste.carte | length %}last{% endif %}">
                            <div class="single-product">
                                <div class="product-f-image">
                                    <!-- image -->
                                    <img src="{{ asset('img/' ~ carte.image)}}" alt="404 no image found">
                                    <!-- menu hover pour diverses options -->
                                    <div class="product-hover">
                                        <a {% if app.user %} href="{{ url('addCollectionCarte', {id: carte.id}) }}" {% else %} href="{{ path('login', ['login']) }}" {% endif %} class="add-to-cart-link">Ajouter à votre collection</a>
                                        <a {% if app.user %} href="{{ url('removeListeDeSouhaits', {id: carte.id}) }}" {% else %} href="{{ path('login', ['login']) }}" {% endif %} class="add-to-wishlist-link">Retirer de votre liste de souhaits</a>
                                        <a href="{{ url('detailDeCarte', {id: carte.id}) }}" class="view-details-link">Voir les détails</a>
                                    </div>
                                </div>
                                <!-- nom et prix -->
                                <h2><a href="{{ url('detailDeCarte', {id: carte.id}) }}">{{ carte.nom }}</a></h2>
                                <h3><a href="{{ url('detailDeCarte', {id: carte.id}) }}">{{ carte.prix | prix }}</a></h3>
                            </div>
                            <!-- si carte est vide, affiche carte non trouvée -->
                            {% if carte is empty %}
                                <div class="single-product">
                                    <p>404 carte non trouvée</p>
                                </div>
                            {% endif %}
                        </div>

                        <!-- ferme la "row" si 5 cartes sont affichés ou si c'est la dernière carte -->
                        {% if i == a or i == liste.carte|length %}
                            </div>
                            </div><br>
                            {% set a = a + 5 %}
                        {% endif %}
                        {% set i = i + 1 %}

                    {% endfor %}

                <!-- si il n'y a aucune carte, affiche qu'il n'y a pas de carte -->
                {% else %}
                    <div>Il n'y a aucune carte dans votre liste de souhaits actuellement.</div>
                    </div>
                    </div>
                {% endif %}

            {% endfor %}

        </div>
    </div>
{% endblock %}